{
    "by": "Deliverect",
    "_id": "DR_{_id}",
    "pos": 10043,
    "tip": 0,
    "date": {date},
    "note": "ORDER WITH MENU :: ",
    "items": [
        {
            "_id": "665485e96ea20036254c8024",
            "plu": "80D7F8CF-0A4C-4374-96EA-A74978CD1011",
            "name": "Big Boss",
            "price": 990,
            "remark": "Avec beaucoup de KETCHUP !!",
            "isCombo": true,
            "quantity": 1,
            "subItems": [
                {
                    "_id": "662a54901d01aa0efa62b7ce",
                    "plu": "2CF5C77F-F7A3-491E-8AEE-E320F54C5E16_076982E6-04FA-4D94-ADF2-00BBB1817907",
                    "name": "Burger Big Boss",
                    "price": 0,
                    "quantity": 1,
                    "subItems": [
                        {
                            "_id": "662a54901d01aa0efa62b0ae",
                            "plu": "D437F6FC-D997-4BD4-BDEC-1034E77AFD86",
                            "name": "Bleu",
                            "price": 0,
                            "quantity": 1,
                            "subItems": [],
                            "packaging": {
                                "count": 1,
                                "reusable": false,
                                "packedItems": 0
                            },
                            "sortOrder": 0,
                            "productTags": [],
                            "productType": 2,
                            "categoryInfo": {}
                        },
                        {
                            "_id": "662a54901d01aa0efa62b0ce",
                            "plu": "EDABFA2E-337E-455F-8EE3-C3E0CFCD3101",
                            "name": "Frites enfant",
                            "price": 0,
                            "quantity": 1,
                            "subItems": [],
                            "packaging": {
                                "count": 1,
                                "reusable": false,
                                "packedItems": 0
                            },
                            "sortOrder": 0,
                            "productTags": [],
                            "productType": 2,
                            "categoryInfo": {}
                        },
                        {
                            "_id": "662a54901d01aa0efa62b144",
                            "plu": "3FECA067-D6DF-469B-94CE-6DD5AC8ACD51",
                            "name": "Sauce Poivre",
                            "price": 0,
                            "quantity": 1,
                            "subItems": [],
                            "packaging": {
                                "count": 1,
                                "reusable": false,
                                "packedItems": 0
                            },
                            "sortOrder": 0,
                            "productTags": [],
                            "productType": 2,
                            "categoryInfo": {}
                        }
                    ],
                    "packaging": {
                        "count": 1,
                        "reusable": false,
                        "packedItems": 0
                    },
                    "sortOrder": 0,
                    "productTags": [],
                    "productType": 1,
                    "categoryInfo": {}
                },
                {
                    "_id": "662a54901d01aa0efa62b7d4",
                    "plu": "356CF4FD-FB47-4AD2-844C-433D02272316_3C95904D-1F7E-42AD-9799-AFFF73CA91C5",
                    "name": "Oasis Tropical",
                    "price": 0,
                    "quantity": 1,
                    "subItems": [],
                    "packaging": {
                        "count": 1,
                        "reusable": false,
                        "packedItems": 0
                    },
                    "sortOrder": 0,
                    "productTags": [],
                    "productType": 1,
                    "categoryInfo": {}
                },
                {
                    "_id": "662a54901d01aa0efa62b7da",
                    "plu": "D9A93CFA-9877-42C2-A2BF-F1417BA98ACF_B3AF71F7-C292-4BC3-A0C3-EBEC10315C96",
                    "name": "Glace Push Up",
                    "price": 0,
                    "quantity": 1,
                    "subItems": [],
                    "packaging": {
                        "count": 1,
                        "reusable": false,
                        "packedItems": 0
                    },
                    "sortOrder": 0,
                    "productTags": [],
                    "productType": 1,
                    "categoryInfo": {}
                }
            ],
            "packaging": {
                "count": 1,
                "reusable": false,
                "packedItems": 0
            },
            "sortOrder": 0,
            "productTags": [],
            "productType": 1,
            "categoryInfo": {}
        }
    ],
    "posId": "",
    "taxes": [],
    "bagFee": 0,
    "rating": [],
    "recent": true,
    "status": 1,
    "account": "604f9210eb5ed06357b18cb6",
    "brandId": "604f9210eb5ed06357b18cb5",
    "channel": 1,
    "courier": {
        "deliveryBy": "restaurant"
    },
    "payment": {
        "due": 0,
        "type": 0,
        "amount": 1990,
        "rebate": 0
    },
    "_created": "{_created}",
    "_updated": "{_updated}",
    "customer": {
        "name": "Cashpad NR auto test",
        "note": "",
        "email": "nr-test@example.invalid",
        "companyName": "",
        "phoneAccessCode": ""
    },
    "location": "{location}",
    "timezone": "Europe/Paris",
    "discounts": [],
    "driverTip": 0,
    "orderType": 2,
    "packaging": {
        "includeCutlery": false
    },
    "testOrder": true,
    "pickupTime": "{pickupTime}",
    "resolvedBy": "",
    "channelLink": "6628c9bc857b17fee4dd135d",
    "deliveryCost": 1000,
    "deliveryTime": "{deliveryTime}",
    "posReceiptId": "",
    "decimalDigits": 2,
    "discountTotal": 0,
    "posLocationId": "{location}",
    "serviceCharge": 0,
    "statusHistory": [
        {
            "source": 2,
            "status": 4,
            "response": "",
            "timeStamp": "{_updated}"
        },
        {
            "source": 5,
            "status": 1,
            "response": "",
            "timeStamp": "{_updated}"
        }
    ],
    "capacityUsages": [],
    "channelOrderId": "{channelOrderId}",
    "deliveryIsAsap": true,
    "deliveryAddress": {
        "city": "Paris",
        "source": "10 Rue de la soif, 75010, Paris",
        "street": "10 Rue de la soif",
        "postalCode": "75010",
        "extraAddressInfo": ""
    },
    "channelOrderRawId": "665485e8f0b2ef14a23be61e",
    "numberOfCustomers": 1,
    "orderIsAlreadyPaid": true,
    "courierUpdateHistory": [
        {
            "source": 5,
            "status": 81,
            "courier": {},
            "received": "{_updated}",
            "arrivalTime": "{pickupTime}",
            "deliveryTime": "{deliveryTime}"
        }
    ],
    "channelOrderDisplayId": "{channelOrderDisplayId}",
    "channelOrderHistoryRawIds": [
        "665485e8f0b2ef14a23be61e"
    ]
}