{
    "by": "Deliverect",
    "_id": "DR_{_id}",
    "pos": 10043,
    "tip": 0,
    "date": {date},
    "note": "THIS A STATIC NOTE FOR A TEST ORDER",
    "items": [
        {
            "_id": "6630f1e0cbb34f4fea40f98a",
            "plu": "24DEF339-1C09-4682-A130-8C0EFA9FD31A",
            "name": "British Salad",
            "price": 1350,
            "quantity": 1,
            "subItems": [],
            "packaging": {
                "count": 1,
                "reusable": false,
                "packedItems": 0
            },
            "sortOrder": 0,
            "productTags": [],
            "productType": 1,
            "categoryInfo": {}
        },
        {
            "_id": "6630f1e0cbb34f4fea40f98b",
            "plu": "E08D3A4B-4C24-4AE5-8A76-87E111F7ED80",
            "name": "Burger Comté - L",
            "price": 1490,
            "quantity": 1,
            "subItems": [
                {
                    "_id": "662a54901d01aa0efa62b0ae",
                    "plu": "D437F6FC-D997-4BD4-BDEC-1034E77AFD86",
                    "name": "Bleu",
                    "price": 0,
                    "quantity": 1,
                    "subItems": [],
                    "packaging": {
                        "count": 1,
                        "reusable": false,
                        "packedItems": 0
                    },
                    "sortOrder": 0,
                    "productTags": [],
                    "productType": 2,
                    "categoryInfo": {}
                },
                {
                    "_id": "662a54901d01aa0efa62b0c2",
                    "plu": "BE1BD607-53AE-47BF-B5D7-7B640EF8847A",
                    "name": "Frites",
                    "price": 0,
                    "quantity": 1,
                    "subItems": [],
                    "packaging": {
                        "count": 1,
                        "reusable": false,
                        "packedItems": 0
                    },
                    "sortOrder": 0,
                    "productTags": [],
                    "productType": 2,
                    "categoryInfo": {}
                }
            ],
            "packaging": {
                "count": 1,
                "reusable": false,
                "packedItems": 0
            },
            "sortOrder": 0,
            "productTags": [],
            "productType": 1,
            "categoryInfo": {}
        },
        {
            "_id": "6630f1e0cbb34f4fea40f98e",
            "plu": "4A5BCE72-65DC-4BE3-A1F8-57ED2A2911C4",
            "name": "Coupe 3 Boules",
            "price": 550,
            "quantity": 1,
            "subItems": [
                {
                    "_id": "662a54901d01aa0efa62b0f8",
                    "plu": "CC4CF91B-B06D-41D3-91DB-8EACB702D0F4",
                    "name": "Caramel",
                    "price": 0,
                    "quantity": 1,
                    "subItems": [],
                    "packaging": {
                        "count": 1,
                        "reusable": false,
                        "packedItems": 0
                    },
                    "sortOrder": 0,
                    "productTags": [],
                    "productType": 2,
                    "categoryInfo": {}
                },
                {
                    "_id": "662a54901d01aa0efa62b0fa",
                    "plu": "5ACF2DAE-E47B-44B6-BE2A-ACA4D73CCCE6",
                    "name": "Stracciatella",
                    "price": 0,
                    "quantity": 1,
                    "subItems": [],
                    "packaging": {
                        "count": 1,
                        "reusable": false,
                        "packedItems": 0
                    },
                    "sortOrder": 0,
                    "productTags": [],
                    "productType": 2,
                    "categoryInfo": {}
                },
                {
                    "_id": "662a54901d01aa0efa62b0fc",
                    "plu": "C27008AF-76AE-4F2B-8CD8-26C5FCB392AA",
                    "name": "Nougat",
                    "price": 0,
                    "quantity": 1,
                    "subItems": [],
                    "packaging": {
                        "count": 1,
                        "reusable": false,
                        "packedItems": 0
                    },
                    "sortOrder": 0,
                    "productTags": [],
                    "productType": 2,
                    "categoryInfo": {}
                }
            ],
            "packaging": {
                "count": 1,
                "reusable": false,
                "packedItems": 0
            },
            "sortOrder": 0,
            "productTags": [],
            "productType": 1,
            "categoryInfo": {}
        },
        {
            "_id": "6630f1e0cbb34f4fea40f992",
            "plu": "63C933A1-8DB5-4BD5-84FC-932A67586E1A",
            "name": "Café Gourmand",
            "price": 750,
            "quantity": 1,
            "subItems": [],
            "packaging": {
                "count": 1,
                "reusable": false,
                "packedItems": 0
            },
            "sortOrder": 0,
            "productTags": [],
            "productType": 1,
            "categoryInfo": {}
        }
    ],
    "posId": "",
    "taxes": [],
    "bagFee": 0,
    "rating": [],
    "recent": true,
    "status": 1,
    "account": "604f9210eb5ed06357b18cb6",
    "brandId": "604f9210eb5ed06357b18cb5",
    "channel": 1,
    "courier": {
        "deliveryBy": "restaurant"
    },
    "payment": {
        "due": 0,
        "type": 0,
        "amount": 5640,
        "rebate": 0
    },
    "_created": "{_created}",
    "_updated": "{_updated}",
    "customer": {
        "name": "Cashpad NR auto test",
        "note": "",
        "email": "nr-test@example.invalid",
        "companyName": "",
        "phoneAccessCode": ""
    },
    "location": "{location}",
    "timezone": "Europe/Paris",
    "discounts": [],
    "driverTip": 0,
    "orderType": 2,
    "packaging": {
        "includeCutlery": false
    },
    "testOrder": true,
    "pickupTime": "{pickupTime}",
    "resolvedBy": "",
    "channelLink": "6628c9bc857b17fee4dd135d",
    "deliveryCost": 500,
    "deliveryTime": "{deliveryTime}",
    "posReceiptId": "",
    "decimalDigits": 2,
    "discountTotal": 0,
    "posLocationId": "{location}",
    "serviceCharge": 1000,
    "statusHistory": [
        {
            "source": 2,
            "status": 4,
            "response": "",
            "timeStamp": "{_updated}"
        },
        {
            "source": 5,
            "status": 1,
            "response": "",
            "timeStamp": "{_updated}"
        }
    ],
    "capacityUsages": [],
    "channelOrderId": "{channelOrderId}",
    "deliveryIsAsap": true,
    "deliveryAddress": {
        "city": "Paris",
        "source": "10 Rue de la soif, 75010, Paris",
        "street": "10 Rue de la soif",
        "postalCode": "75010",
        "extraAddressInfo": ""
    },
    "channelOrderRawId": "6630f1e0f73584b8a92e323a",
    "numberOfCustomers": 1,
    "orderIsAlreadyPaid": true,
    "courierUpdateHistory": [
        {
            "source": 5,
            "status": 81,
            "courier": {},
            "received": "{_updated}",
            "arrivalTime": "{pickupTime}",
            "deliveryTime": "{deliveryTime}"
        }
    ],
    "channelOrderDisplayId": "{channelOrderDisplayId}",
    "channelOrderHistoryRawIds": [
        "6630f1e0f73584b8a92e323a"
    ]
}