{
    "by": "Deliverect",
    "_id": "DR_{_id}",
    "pos": 10043,
    "tip": 0,
    "date": {date},
    "note": "ORDER WITH OPTIONS :: ",
    "items": [
        {
            "_id": "6655b331b1dd114a9d363582",
            "plu": "C3719D2A-AC84-4102-BF50-24FD174AD0A8",
            "name": "Burger Comté - XL",
            "price": 1860,
            "remark": "Bien cuit !",
            "quantity": 1,
            "subItems": [
                {
                    "_id": "662a54901d01aa0efa62b0ae",
                    "plu": "D437F6FC-D997-4BD4-BDEC-1034E77AFD86",
                    "name": "Bleu",
                    "price": 0,
                    "quantity": 1,
                    "subItems": [],
                    "packaging": {
                        "count": 1,
                        "reusable": false,
                        "packedItems": 0
                    },
                    "sortOrder": 0,
                    "productTags": [],
                    "productType": 2,
                    "categoryInfo": {}
                },
                {
                    "_id": "662a54901d01aa0efa62b0c2",
                    "plu": "BE1BD607-53AE-47BF-B5D7-7B640EF8847A",
                    "name": "Frites",
                    "price": 0,
                    "quantity": 1,
                    "subItems": [],
                    "packaging": {
                        "count": 1,
                        "reusable": false,
                        "packedItems": 0
                    },
                    "sortOrder": 0,
                    "productTags": [],
                    "productType": 2,
                    "categoryInfo": {}
                },
                {
                    "_id": "662a54901d01aa0efa62b1c8",
                    "plu": "23E8ED30-A389-499B-97F5-67774EE578CF",
                    "name": "Supp Frites",
                    "price": 290,
                    "quantity": 1,
                    "subItems": [],
                    "packaging": {
                        "count": 1,
                        "reusable": false,
                        "packedItems": 0
                    },
                    "sortOrder": 0,
                    "productTags": [],
                    "productType": 2,
                    "categoryInfo": {}
                },
                {
                    "_id": "662a54901d01aa0efa62b1ca",
                    "plu": "5647FDD9-DE2B-48A8-BE78-DA1253BB5D4D",
                    "name": "Supp Haricots verts",
                    "price": 290,
                    "quantity": 1,
                    "subItems": [],
                    "packaging": {
                        "count": 1,
                        "reusable": false,
                        "packedItems": 0
                    },
                    "sortOrder": 0,
                    "productTags": [],
                    "productType": 2,
                    "categoryInfo": {}
                },
                {
                    "_id": "662a54901d01aa0efa62b14a",
                    "plu": "12D1899D-145B-40FF-A869-2AD8386BC146",
                    "name": "Sauce Tartare",
                    "price": 0,
                    "quantity": 1,
                    "subItems": [],
                    "packaging": {
                        "count": 1,
                        "reusable": false,
                        "packedItems": 0
                    },
                    "sortOrder": 0,
                    "productTags": [],
                    "productType": 2,
                    "categoryInfo": {}
                }
            ],
            "packaging": {
                "count": 1,
                "reusable": false,
                "packedItems": 0
            },
            "sortOrder": 0,
            "productTags": [],
            "productType": 1,
            "categoryInfo": {}
        },
        {
            "_id": "6655b331b1dd114a9d363588",
            "plu": "937F73FD-2411-40E4-AC71-2AE7075E6711",
            "name": "Salade Camembert Chaud",
            "price": 1490,
            "quantity": 1,
            "subItems": [],
            "packaging": {
                "count": 1,
                "reusable": false,
                "packedItems": 0
            },
            "sortOrder": 0,
            "productTags": [],
            "productType": 1,
            "categoryInfo": {}
        },
        {
            "_id": "6655b331b1dd114a9d363589",
            "plu": "F5B2789C-AAEA-45D7-A7E6-0D6A7959A65E",
            "name": "Chocolate Lover",
            "price": 850,
            "quantity": 1,
            "subItems": [
                {
                    "_id": "662a54901d01aa0efa62b1b4",
                    "plu": "BBBD449E-3B0C-46F1-8F63-7A85EC8F0D5A",
                    "name": "Granola",
                    "price": 100,
                    "quantity": 1,
                    "subItems": [],
                    "packaging": {
                        "count": 1,
                        "reusable": false,
                        "packedItems": 0
                    },
                    "sortOrder": 0,
                    "productTags": [],
                    "productType": 2,
                    "categoryInfo": {}
                },
                {
                    "_id": "662a54901d01aa0efa62b1ba",
                    "plu": "ABC990C1-5E2E-47E7-A316-BB6CCF786F94",
                    "name": "Chantilly",
                    "price": 100,
                    "quantity": 1,
                    "subItems": [],
                    "packaging": {
                        "count": 1,
                        "reusable": false,
                        "packedItems": 0
                    },
                    "sortOrder": 0,
                    "productTags": [],
                    "productType": 2,
                    "categoryInfo": {}
                }
            ],
            "packaging": {
                "count": 1,
                "reusable": false,
                "packedItems": 0
            },
            "sortOrder": 0,
            "productTags": [],
            "productType": 1,
            "categoryInfo": {}
        },
        {
            "_id": "6655b331b1dd114a9d36358c",
            "plu": "26A6F322-D634-43CD-9854-0E98A6FDE250",
            "name": "Café Allongé",
            "price": 230,
            "remark": "Sans sucre",
            "quantity": 1,
            "subItems": [],
            "packaging": {
                "count": 1,
                "reusable": false,
                "packedItems": 0
            },
            "sortOrder": 0,
            "productTags": [],
            "productType": 1,
            "categoryInfo": {}
        }
    ],
    "posId": "",
    "taxes": [],
    "bagFee": 0,
    "rating": [],
    "recent": true,
    "status": 1,
    "account": "604f9210eb5ed06357b18cb6",
    "brandId": "604f9210eb5ed06357b18cb5",
    "channel": 1,
    "courier": {
        "deliveryBy": "restaurant"
    },
    "payment": {
        "due": 0,
        "type": 0,
        "amount": 7210,
        "rebate": 0
    },
    "_created": "{_created}",
    "_updated": "{_updated}",
    "customer": {
        "name": "Cashpad NR auto test",
        "note": "",
        "email": "nr-test@example.invalid",
        "companyName": "",
        "phoneAccessCode": ""
    },
    "location": "{location}",
    "timezone": "Europe/Paris",
    "discounts": [],
    "driverTip": 0,
    "orderType": 2,
    "packaging": {
        "includeCutlery": false
    },
    "testOrder": true,
    "pickupTime": "{pickupTime}",
    "resolvedBy": "",
    "channelLink": "6628c9bc857b17fee4dd135d",
    "deliveryCost": 1000,
    "deliveryTime": "{deliveryTime}",
    "posReceiptId": "",
    "decimalDigits": 2,
    "discountTotal": 0,
    "posLocationId": "{location}",
    "serviceCharge": 1000,
    "statusHistory": [
        {
            "source": 2,
            "status": 4,
            "response": "",
            "timeStamp": "{_updated}"
        },
        {
            "source": 5,
            "status": 1,
            "response": "",
            "timeStamp": "{_updated}"
        }
    ],
    "capacityUsages": [],
    "channelOrderId": "{channelOrderId}",
    "deliveryIsAsap": true,
    "deliveryAddress": {
        "city": "Paris",
        "source": "10 Rue de la soif, 75010, Paris",
        "street": "10 Rue de la soif",
        "postalCode": "75010",
        "extraAddressInfo": ""
    },
    "channelOrderRawId": "665485e8f0b2ef14a23be61e",
    "numberOfCustomers": 1,
    "orderIsAlreadyPaid": true,
    "courierUpdateHistory": [
        {
            "source": 5,
            "status": 81,
            "courier": {},
            "received": "{_updated}",
            "arrivalTime": "{pickupTime}",
            "deliveryTime": "{deliveryTime}"
        }
    ],
    "channelOrderDisplayId": "{channelOrderDisplayId}",
    "channelOrderHistoryRawIds": [
        "665485e8f0b2ef14a23be61e"
    ]
}